# Ruby / Rails
api/.bundle
api/vendor/bundle
api/log/*
api/tmp/*
!api/log/.keep
!api/tmp/.keep
api/tmp/pids/*
!api/tmp/pids/.keep
api/storage/*
!api/storage/.keep
api/.env
api/config/master.key
api/tmp/local_secret.txt

# Node
web/node_modules
web/dist
web/.env
web/.env.local

# OS / editor
.DS_Store
.idea
.vscode
*.swp

# Env
.env
.env.local

# Test / coverage
coverage
*.log
